html {
  -webkit-text-size-adjust​: ​none​;
  width: 100%;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  /* 드래그 방지 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
